<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <div id="top_nav" class="row text-center align-content-between flex-wrap align-items-baseline bg-info text-dark" >
            <div class="logo col">
                <!-- <img class="leaf_logo" src="images/leaf.png" alt="leaf logo"> -->
                <h1>Vacation Planner</h1>
            </div>
            <p class="col">
                <a href="/dashboard" class="btn btn-info btn-outline-dark btn-sm">Dashboard</a>
                <a href="/logout" class="btn btn-info btn-outline-dark btn-sm">Logout</a>
            </p>
        </div>
        <div class="m-3 row">
            {% for place in places %}
            <div class="card ml-3" style="width:300px">
                <img class="card-img-top" src={{place.image_url}} alt="Problem Loading Page" style="width:100%" height="150">
                <div class="card-body">
                    <h4 class="card-title">{{place.place_name}}</h4>
                    <p class="card-text">{{place.rating}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</body>
</html>